<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCartSuite" parallel="tests">
<listeners>
<listener class-name="utilities.ExtentReportManager"/>
</listeners>

 <test thread-count="5" name="EdgeTest">
  <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="testCases.RegisteringAccount"/>
    </classes>
  </test> 
   <test thread-count="5" name="chromeTest">
  <parameter name="browser" value="chrome"/>
    <classes>
    <class name="testCases.RegisteringAccount"/> 
      <class name="testCases.LoginToAccount"/>
    </classes>
  </test> 
</suite> <!-- OpenCartSuite -->
